:root {
  --color-accent: #e3edf8;
  --color-accent-dark: #85b0f1;
  --color-accent-darker: #2d7be7;
  --color-primary: #e0e0e0;
  --color-primary-dark: #999999;
  --color-text: #222222;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-light: #f1f1f1;
  --box-shadow: rgb(0 0 0 / 15%) 0px 5px 30px;
}
